@import url("reset.css");

html{
  width: 100%;
}

body {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

header {
  width: 100%;
  height: 160px;
  /* background-color: #e6b9b8; */
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  width: 400px;
  height: 100%;
}

.header-text {
  margin-top: 10px;
}

.header-logo {
  width: 250px;
  height: 60px;
  background-color: cornsilk;
  margin: 40px 0 0 10px;
}

.header-right {
  width: 400px;
  height: 100%;
  position: relative;
}

.header-tel {
  width: 180px;
  height: 60px;
  float: right;
}

.header-menu {
  background-color: #fff;
  /* width: 550px; */
  position: absolute;
  bottom: 30px;
  right: 0;
  font-size: 18px;
}

.menu-list {
  display: flex;
}

.menu-list>li {
  width: 120px;
  border-left: #96514d solid 1px;
  border-right: #96514d solid 1px;
  text-align: center;
}

.menu-list>li>a {
  text-decoration: none;
  color: #96514d;
}


section{
  max-width: 100%;
  min-width: 1200px;
  margin-bottom: 100px;
}

.top-slider {
  width: 100%;
  height: 650px;
}

.main1 {
  width: 100%;
  height: 650px;
}


.dots {
  display: flex;
  justify-content: center;
  padding: 0;
}

.dot {
  list-style: none;
}

.product-info {
  width: 100%;
  height: 350px;
  background-color: #e6b9b8;
  position: relative;
}

.product-info__title {
  text-align: center;
}

.product-info__link {
  display: inline-block;
  height: 60px;
  width: 250px;
  line-height: 60px;
  background-color: #fff;
  font-size: 20px;
  color: #96514d;
  border: #96514d solid 1px;
  border-radius: 2px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  text-decoration: none;
}

.handmade-wrapper{
  height: 450px;
  margin-top: 60px;
}

.handmade-info {
  position: relative;
}

.handmade-info__content {
  width: 80%;
  height: 400px;
  background-color: #e6b9b8;
  position: absolute;
  top: 0px;
  right: 100px;
}

.handmade-title {
  font-size: 50px;
  color: #96514d;
  margin: 30px 0 30px 40px;
}

.handmade-introduction {
  margin-left: 40px;
  font-size: 20px;
  line-height: 30px;
}

.handmade-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  color: #96514d;
  border: #96514d solid 1px;
  border-radius: 2px;
}

.handmade-info__flame {
  width: 600px;
  height: 400px;
  background-color: cornflowerblue;
  position: absolute; 
  top: 70px;
  right: 0px; 
}

.handmade-info__flame--image {
  width: 600px;
  height: 400px;
}

.oem-wrapper {
  height: 400px;
  margin-top: 60px;
}

.oem-info {
  position: relative;
}

.oem-info__content {
  width: 80%;
  height: 400px;
  background-color: #e6b9b8;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 60px;
  padding-left: 470px;
}

.oem-title {
  font-size: 50px;
  color: #96514d;
  margin: 30px 10px 30px;
}

.oem-introduction {
  margin-left: 20px;
  font-size: 20px;
  line-height: 30px;
}

.oem-link {
  display: inline-block;
  margin: 30px 0 0 90px;
  font-size: 20px;
  background-color: #fff;
  padding: 10px 20px;
  color: #96514d;
  border: #96514d solid 1px;
  border-radius: 2px;
}


.oem-info__flame {
  width: 600px;
  height: 400px;
  background-color: cornflowerblue;
  position: absolute;
  z-index: 10;
  top: 70px;
}

.oem-info__flame--image {
  width: 600px;
  height: 400px;
}

 .footer {
  width: 1400px;
  height: 300px;
  background-color: #b3807d;
}

.footer-top {
  width: 100%;
  height: 250px;
}

.footer-bottom {
  width: 100%;
  height: 50px;
  background-color: burlywood;
}
