@import url("reset.css");

html{
  width: 1400px;
}

body {
  max-width: 100%;
  min-width: 1300px;
  box-sizing: border-box;
  padding: 0;
}

header {
  max-width: 100%;
  min-width: 1300px;
  height: 160px;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
}

.header-left {
  width: 400px;
  height: 100%;
}

.header-text {
  margin-top: 10px;
}

.header-logo {
  width: 300px;
  height: 120px;
  background-color: cornsilk;
  margin-top:12px;
}

.header-right {
  width: 400px;
  height: 100%;
  position: relative;
}

.header-tel {
  margin-top: 10px;
  width: 180px;
  height: 60px;
  float: right;
  color: #96514d;
}

.fa-phone-volume {
  font-size: 20px;
}

.telnumber {
  font-size: 20px;
  font-weight: bold;
}

.business-time {
  margin-top: 10px;
}

.header-menu {
  background-color: #fff;
  position: absolute;
  bottom: 30px;
  right: 0;
  font-size: 18px;
}

.menu-list {
  display: flex;
}

.menu-list>li {
  width: 120px;
  border-left: #96514d solid 1px;
  border-right: #96514d solid 1px;
  text-align: center;
}

.menu-list>li>a {
  text-decoration: none;
  color: #96514d;
}

.fa-facebook-square {
  color: #3B5998;
  font-size: 22px;
}

.fa-twitter-square {
  color: #1DA1F2;
  font-size: 22px;
}

section{
  max-width: 100%;
  min-width: 1300px;
  margin-bottom: 150px;
}

.slick {
  width: 100%;
  height: 550px;
  margin-bottom: 40px;
}

.main1 {
  width: 100%;
  height: 550px;
}

.product-info {
  width: 100%;
  height: 300px;
  background-color: #e6b9b8;
  position: relative;
}

.product-info__title {
  text-align: center;
  color: #96514d;
  font-size: 50px;
  padding-top: 20px;
}

.product-info__content{
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.product-info__link {
  display: inline-block;
  height: 60px;
  width: 250px;
  line-height: 60px;
  background-color: #fff;
  font-size: 20px;
  color: #96514d;
  border: #96514d solid 1px;
  border-radius: 2px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  text-decoration: none;
}

.handmade-wrapper{
  height: 450px;
  margin-top: 60px;
}

.handmade-info {
  position: relative;
}

.handmade-info__content {
  width: 80%;
  height: 400px;
  background-color: #e6b9b8;
  position: absolute;
  top: 0px;
  right: 100px;
}

.handmade-title {
  font-size: 50px;
  color: #96514d;
  margin: 30px 0 30px 40px;
}

.handmade-introduction {
  margin-left: 40px;
  font-size: 20px;
  line-height: 30px;
}

.handmade-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  background-color: #fff;
  padding: 10px;
  color: #96514d;
  border: #96514d solid 1px;
  border-radius: 2px;
}

.handmade-info__flame {
  width: 600px;
  height: 400px;
  background-color: cornflowerblue;
  position: absolute; 
  top: 70px;
  right: 0px; 
}

.handmade-info__flame--image {
  width: 600px;
  height: 400px;
}

.oem-wrapper {
  height: 400px;
  margin-top: 60px;
}

.oem-info {
  position: relative;
}

.oem-info__content {
  width: 80%;
  height: 400px;
  background-color: #e6b9b8;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 60px;
  padding-left: 470px;
}

.oem-title {
  font-size: 50px;
  color: #96514d;
  margin: 30px 10px 30px;
}

.oem-introduction {
  margin-left: 20px;
  font-size: 20px;
  line-height: 30px;
}

.oem-link {
  display: inline-block;
  margin: 30px 0 0 90px;
  font-size: 20px;
  background-color: #fff;
  padding: 10px 20px;
  color: #96514d;
  border: #96514d solid 1px;
  border-radius: 2px;
}


.oem-info__flame {
  width: 600px;
  height: 400px;
  background-color: cornflowerblue;
  position: absolute;
  z-index: 10;
  top: 70px;
}

.oem-info__flame--image {
  width: 600px;
  height: 400px;
}

 .footer {
  max-width: 100%;
  min-width: 1300px;
  height: 300px;
  background-color: #e9c7c5;
}

.footer-top {
  width: 100%;
  height: 250px;
  padding-top: 20px;
}

.footer-list {
  margin: 0 auto;
  width: 480px;
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: #96514d solid 1px;
}

.footer-list>li {
  width: 33.3%;
  height: 50%;
  text-align: center;
  color: #96514d;
  font-size: 18px;
  line-height: 45px;
}

.footer-company-wrapper {
  margin: 0 auto;
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 200px;
  height: 100px;
}

.footer-address {
  margin-top: 20px;
  width: 200px;
  height: 100px;
  color: #96514d;
}

.footer-bottom {
  width: 100%;
  height: 50px;
  background-color: #96514d;
  text-align: center;
  line-height: 50px;
  color: #fff;
}

.pro-confirm-wrapper {
  display: flex;
}

.confirm-content {
  margin-left: 30px;
}
