.promotion {
  width: 840px;
  margin: 50px auto;
  color: #96514d;
  display: block;
  font-size: 18px;
  display: flex;
}

.promotion__content {
  padding: 20px;
  background-color: #e6b9b8;
  width: 540px;
}

.promotion__image{
  width: 300px;
}

.products-wrapper {
  width: 840px;
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
}

.products-index-image {
  width: 200px;
  height: 200px;
}

.products-name-area {
  width: 200px;
  height: 100px;
  margin-right: 10px;
  padding: 10px;
  color: #96514d;
}

.products-name {
  text-align: center;
  margin:10px 0;
  font-weight: bold;
}

.fa-chevron-circle-right {
  margin: 0 5px 0 10px;
}

.products-show-link {
  text-align: center;
  display: inline-block;
  padding: 5px;
  border: #96514d solid 1px;
  border-radius: 3px;
}

.product-wrapper {
  margin: 50px auto 70px;
  width: 700px;
  display: flex;
  position: relative;
}

.product-detail {
  margin-left: 20px;
}

.product-detail__name {
  font-size: 30px;
  color: #96514d;
}

.product-detail__content {
  margin: 10px 0;
  font-size: 18px;
}

table {
  font-size: 18px;
}

table th {
  color: #96514d;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #e6b9b8;
  font-weight: lighter;
}

table td {
  line-height: 50px;
  text-align: center;
  width: 300px;
}

.link-area {
  width: 700px;
  margin: 0 auto 40px;
  padding-left: 50px;
}

